langchain
langchain-core
langchain-google-genai
langgraph
pandas
numpy
python-dotenv
tiktoken
transformers
accelerate
scikit-learn
xgboost
lightgbm
torch
torchvision
datasets
torchaudio
librosa
tf-keras
soundfile
evaluate
torchcodec
sentencepiece